<div class="row">
<div class="col-sm-5 col-sm-offset-2">
    @*<address>
        <strong>GEOTrac International Inc.</strong> <br />
        Suite #401 5940 MacLeod Trail SW <br />
        Calgary, Alberta, Canada T2H 2G4 <br />
        <i class="fa fa-phone fa-fw"></i> 403.261.2965 <br />
        <i class="fa fa-fax fa-fw"></i> 403.261.2813 <br />
        <i class="fa fa-envelope fa-fw"></i> <a href="mailto:support@geotracinternational.com">support@geotracinternational.com</a> <br />
    </address>*@
</div>
<div class="col-sm-12">
    <p class="credit">&copy; 2007 - @DateTime.Now.Year Travel alberta Exercise</p>
    <p class="policy">
        <a href="https://www.travelalberta.com/ca/privacy/" class="green-link">Privacy</a> &nbsp;
    </p>
    <p>Travel Alberta and its partners make every effort to provide current &amp; accurate information. In the event of a discrepancy between rates displayed on TravelAlberta.com and the hotel’s website, rates displayed on the hotel’s website shall prevail. &nbsp;</p>
</div>
</div>