@{
    ViewBag.Title = "Travel Alberta Exercise - Home";
}

<div class="jumbotron">
    <h1>Travel Alberta Exercise</h1>
    <p class="lead">A site to demonstrate coding and web development capabilities.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Demo Items</h2>
        <p>
            Have two pages, one with datatables and another with Kendo controls, template and Kendo observable view model. Both those pages do the filtering on the client side (javascript).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Simple Searchable Table</h2>
        <p>A simple table with all the data (the 4 columns) and it is searchable on all of those columns with other additional features, done using Datatables.</p>
        <p><a class="btn btn-default" href="/Home/List">Have a look &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Searchable Table using Kendo</h2>
        <p>A simple table with all the data (the 4 columns) and it is searchable again on all the columns, done using Kendo controls and MVVM pattern.</p>
        <p><a class="btn btn-default" href="/Home/KendoList">Go there &raquo;</a></p>
    </div>
</div>